// FOOTER SECTION 
.site-footer {
  background: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__item {
  margin-left: 0;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
}

.footer__nav {
  margin-top: 25px;
}

.footer__address {
margin-left: 125px;
font-family: Livvic;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: $white;
mix-blend-mode: normal;
opacity: 0.6;
}

.footer__right {
  max-width: 300px;
  margin-left: auto;
  text-align: right;
}

.footer__social-media-logos {
  margin-bottom: 51px;
  display: flex;
  align-items: center;
}

.social-img {
  display: block;
  margin-left: 16px;
}

.footer__last-content {
  margin: 0;
  padding: 0;
  font-family: Livvic;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.6;
}

// responsive 

@include breakpoint-down (768px) {

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
.footer__address {
  display: block;
  max-width: 280px;
  margin-left: auto;
}

.footer__right {
  margin: 0;
  text-align: center;
  max-width: 100%;
  margin-top: 33px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
}


@include breakpoint-down (450px) {

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .site-logo {
    width: 96px;
    height: 24px;
  }
  .site-nav__link {
    font-size: 15px;
    line-height: 25px;
  }

.footer__address {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 40px;
  display: block;
  max-width: 327px;
  font-size: 15px;
line-height: 25px;
}

.footer__right {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__social-media-logos {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-img~ .social-img {
  margin-left: 16px;
}


.footer__last-content {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  margin-top: 16px;
}
}